extends layout

block content

	h2 Goals for <strong>#{employee.firstName}</strong> <small>(#{goals.status})</small>
	h4 Review Cycle (#{goals.cycle.startDate} - #{goals.cycle.endDate})

	hr
	div
		table.table.table-striped.table-responsive.table-bordered.table-responsive
			tr
				th.text-center Index
				th.text-center KRA
				th.text-center Goal-Type
				th.text-center Description
				th.text-center Weightage
				th.text-center Actions
			each item in goals.items
				tr
					td #{item[0]}
					td #{item[1]}
					td #{item[2]}
					td #{item[3]}
						
					td.text-center #{item[4]}%
					td
						a Edit 
						a Delete			
		a.glyphicon.glyphicon-plus(id='lnkAdd') Add-Another
		
		if (view == 'self')
			div.text-right.btn-toolbar
				button.btn.btn-warning.btn-md(id="btnSaveDraft") Reset
				button.btn.btn-info.btn-md(id="btnSaveDraft") Save Draft
				if (goals.status == 'pending')
					button.btn.btn-primary.btn-md(id="btnSubmitGoals") Submit for Approval
	
	script(type="text/x-handlebars" data-template-name="addnewGoal")
		| {{bs-button title="Show Modal" clicked="show"}}
		| {{#bs-modal name="myModal" fade=true footerButtonsBinding="myModalButtons" title="My Modal"}}
		p Modal content!
		| {{/bs-modal}}	

	