<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
		<link rel='stylesheet' href='/stylesheets/style.css'/>
	</head>
	<body>
		<script type="text/x-handlebars" data-template-name="header">
			<div class="navbar navbar-default navbar-static-top nav-blue">
				<div class="container">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li>
								<a href="/dashboard">Dashboard</a>
							</li>
							<li>
								<a href="/teamkra/<%= user._id %>">My Goals</a>
							</li>
							<li>
								<a href="/teamdiary/<%= user._id %>">My Diary</a>
							</li>
							<li>
								<a href="/team" >My Team</a>
							</li>
							<li>
								<!--<a href="/appraisals" >Appraisal History</a>-->
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<% if(user) { %>
								<li> 
									<a href="/profile">Welcome<strong> <%= user.firstName %></strong></a>
								</li>
								<li>
									<a href="/logout">Logout
										<span class="glyphicon glyphicon-off"></span></a>
								</li>
							<% } %>
						</ul>
					</div>
				</div>
			</div>
			<!--<div class="container">
				<div>
					<div class="alert alert-info"> Your Review submission is pending. <a> Click Here </a> to complete </div>
					<hr />
				</div>	
			</div>-->										
			<div class="container">
				<% if (!user) { %>
					<div class="text-center">
						<p> You are not logged in. Please login to continue. </p>
						<button class="btn btn-primary btn-lg" onclick="window.location ='/login'">Login</button>
					</div>
				<% } %>
			</div>
		</script>
		<% if (user) { %>		
			<%-body -%>
		<% } %>
		<script type="text/x-handlebars" data-template-name="footer">
			<footer>
				<div class="container">
					<hr />
					<p class="text-right" >@Copyright Varun 2013</p>
				</div>
			</footer>
		</script>
		<script src='/javascripts/infra/jquery/jquery-1.10.2.js'></script>
		<script src='/javascripts/infra/bootstrap/bootstrap.js'></script>
		<script src='/javascripts/infra/ember/handlebars-1.0.0.js'></script>
		<script src='/javascripts/infra/ember/ember-1.0.0.js'></script>
		<script src='/javascripts/infra/ember/ember-data.js'></script>
		<script src='/javascripts/infra/localstorage_adapter.js'></script>
		<script src='/javascripts/infra/bs-for-ember/bs-core.min.js'></script>
		<script src='/javascripts/infra/bs-for-ember/bs-button.min.js'></script>
		<script src='/javascripts/infra/bs-for-ember/bs-modal.min.js'></script>
		<script src='/javascripts/infra/bs-for-ember/bs-alert.min.js'></script>
		<script src='/javascripts/infra/moment.min.js'></script>
		<script src='/javascripts/app.js'></script>		
		<script src='/javascripts/models/goal.js'></script>
		<script src='/javascripts/models/dashboard.js'></script>
		<script src='/javascripts/models/note.js'></script>
		<script src='/javascripts/models/teamuser.js'></script>
		<script src='/javascripts/models/reviewDocument.js'></script>
		<script src='/javascripts/models/perfdiary.js'></script>
		<script src='/javascripts/models/diaryitem.js'></script>
		<%-scripts%>
		<script type="text/javascript">
			$(document).ready(function(){
				var pleaseWaitDiv = $('<div class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h1>Please wait a moment...</h1></div><div class="modal-body"><div class="progress progress-striped"> <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div></div></div></div></div></div>');
				var cont = false;
				function increaseProgress(isStart) {

					setTimeout(function() {
						
						if(isStart) {
							
							$('.progress-bar').attr('aria-valuenow', '0');
							$('.progress-bar').attr('style', "width: 0%;");							
						}
						else{

							var val = parseInt($('.progress-bar').attr('aria-valuenow'));
							val = val + 20;
							$('.progress-bar').attr('aria-valuenow', val);
							$('.progress-bar').attr('style', "width: " + val + "%;");
						}

						if(cont)
							increaseProgress(false);
					},100);
				}

		        $(document)
		        .ajaxStart(function () {
		        	pleaseWaitDiv = $('<div class="modal fade"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h1>Please wait a moment...</h1></div><div class="modal-body"><div class="progress progress-striped"> <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div></div></div></div></div></div>');
		        	pleaseWaitDiv.modal('show');
		        	cont = true;
	        		increaseProgress(true);
		        	
		        })
		        .ajaxStop(function () {
		        	setTimeout(function() { 
		        		pleaseWaitDiv.modal('hide'); 
		        		cont = false;		            	
		            }, 500);
		        });
			});
		</script>
	</body>
</html>